.carouselItemContainer {
  position: relative;
  width: 100%;
  height: 90vh;
}

.carouselText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 115px;
  font-weight: 700;
  line-height: 1.2em;
  width: 100%;
  margin: 50px;
}

@media (max-width: 576px) {
  .carouselText {
    font-size: 35px;
    left: 45%;
    margin: 40px;
  }
}
